<div class="container-fluid">
  <div class="title">
    <h1>Admin Panel</h1>
  </div>
  <div class="row card-block">
    <div class="col-3">
      <div class="card">
        <div class="row">
          <div class="col-5">
            <div class="main-block">
              <div class="icon-block">
                <i class="material-icons">credit_card</i>
              </div>
            </div>
          </div>
          <div class="col-7">
            <div class="text-block">
              <h2>Sales</h2>
              <span>200</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <div class="row">
          <div class="col-5">
            <div class="main-block" style="background-color: #dd4b39">
              <div class="icon-block">
                <i class="material-icons">work</i>
              </div>
            </div>
          </div>
          <div class="col-7">
            <div class="text-block">
              <h2>New Orders</h2>
              <span>20</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <div class="row">
          <div class="col-5">
            <div class="main-block" style="background-color: #00a65a">
              <div class="icon-block">
                <i class="material-icons">group</i>
              </div>
            </div>
          </div>
          <div class="col-7">
            <div class="text-block">
              <h2>New Users</h2>
              <span>10</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <div class="row">
          <div class="col-5">
            <div class="main-block" style="background-color: #f39c12">
              <div class="icon-block">
                <i class="material-icons">credit_card</i>
              </div>
            </div>
          </div>
          <div class="col-7">
            <div class="text-block">
              <h2>Sales</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="box-block">
    <app-sales-user-charts></app-sales-user-charts>
  </div>
</div>