<div class="add_pro_form">
    <h1>Add Product</h1>
    <form [formGroup]="addProductForm">
        <div class="row">
            <ng-container *ngFor="let item of data.addProductFields; let i = index">
                <div class="col-6 p-2">
                    <input *ngIf="item?.type !== ('textarea') && item?.type !== ('dropdown')" class="form-control" placeholder="{{item?.labele}}"
                        type="{{item?.type}}" [formControlName]="[item?.formControlName]">
                        <mat-error *ngIf="addProductForm.controls[item.formControlName].touched && addProductForm.controls[item.formControlName].errors?.required">{{item.validationMessage}}</mat-error>
                    <textarea class="form-control" *ngIf="item?.type === 'textarea'"
                        placeholder="{{item?.labele}}"></textarea>
                    <select *ngIf="item?.type === 'dropdown'" id="inputState" class="form-control">
                        <option selected>{{item?.labele}}</option>
                        <option>...</option>
                    </select>
                </div>
            </ng-container>
        </div>
        <!-- <div class="row">
            <div class="col">
                <mat-form-field appearance="fill">
                    <input matInput placeholder="Price">
                    <span matPrefix><i class="fas fa-rupee-sign"></i>&nbsp;</span>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field appearance="fill">
                    <input matInput placeholder="Rating Of Product">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field appearance="fill">
                    <input matInput placeholder="Quantity Of Products" type="number">
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field appearance="fill">
                    <mat-select placeholder="Category Of Product">
                        <mat-option value="option">Option</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div> -->
    </form>
    <div class="submit_btn">
        <button mat-raised-button>Submit</button>
    </div>
</div>